# Ejercicio numeros aleatorios

### 1.- Los numeros de fibonaci F(N) estan definidos como: F(0)=1, F(1)=1 y para n>=2 F(n+2) = F(n-2).

1.-Calcule F(n=5)

In [11]:
#Parametros iniciales
fibonachi=[1,1] #Las primeras posiciones estan definidas

In [10]:
rango=5
for i in range(0,rango,1):
   fn=fibonachi[i]+fibonachi[i+1]
   fibonachi.append(fn)
fibonachi

[1, 1, 2, 3, 5, 8, 13]

2.-Calcule F(n=9)

In [12]:
rango=9
for i in range(0,rango,1):
   fn=fibonachi[i]+fibonachi[i+1]
   fibonachi.append(fn)
fibonachi

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

### 2.- Realice las siguientes operaciones.

a) 5mod(2)

In [13]:
5%2

1

b)7mod(3)

In [14]:
7%3

1

c) 25mod(5)

In [15]:
25%5

0

### 3.- Dada la relacion de recurrencia Xn+1 = (5xn+7)mod8, con x0=4

In [72]:
# PARAMETROS
a = 5; 
c = 7;
m=8;

a) x5

In [76]:
n=5
xn = 4; #x0
# Listas
resultados = []
#Iteraciones
for i in range(0,n,1):
    resultados.append(xn)
    xn = ((a * xn) + c) % m #Funcion
resultados[-1] #Ultima posicion

0

b) x7

In [77]:
n=7
xn = 4; #x0
# Listas
resultados = []
#Iteraciones
for i in range(0,n,1):
    resultados.append(xn)
    xn = ((a * xn) + c) % m #Funcion
resultados[-1] #Ultima posicion

2

c) x9

In [78]:
n=9
xn = 4; #x0
# Listas
resultados = []
#Iteraciones
for i in range(0,n,1):
    resultados.append(xn)
    xn = ((a * xn) + c) % m #Funcion
resultados[-1] #Ultima posicion

4

d) x11

In [79]:
n=11
xn = 4; #x0
# Listas
resultados = []
#Iteraciones
for i in range(0,n,1):
    resultados.append(xn)
    xn = ((a * xn) + c) % m #Funcion
resultados[-1] #Ultima posicion

6

e) x13

In [80]:
n=13
xn = 4; #x0
# Listas
resultados = []
#Iteraciones
for i in range(0,n,1):
    resultados.append(xn)
    xn = ((a * xn) + c) % m #Funcion
resultados[-1] #Ultima posicion

0

#### TABLA DE RESULTADOS:

In [81]:
#Generacion de una tabla simple
import pandas as pd
pd.DataFrame(resultados,columns=['Resultado'])

    Resultado
0           4
1           3
2           6
3           5
4           0
5           7
6           2
7           1
8           4
9           3
10          6
11          5
12          0