# EXAMEN

### 1.- Los numeros de fibonacci F(n) estan definidos como: F(0)=1, F(1) =1 y para n>=2 F(n+2)=F(n-1)+F(n-2)

In [4]:
#Parametros iniciales
fibonachi=[1,1] #Las primeras posiciones estan definidas

#### F(n=6)

In [2]:
rango=6
for i in range(0,rango,1):
   fn=fibonachi[i]+fibonachi[i+1]
   fibonachi.append(fn)
fibonachi

[1, 1, 2, 3, 5, 8, 13, 21]

#### F(n=10)

In [5]:
rango=10
for i in range(0,rango,1):
   fn=fibonachi[i]+fibonachi[i+1]
   fibonachi.append(fn)
fibonachi

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

### 2.- Realice las siguientes operaciones:

#### 7mod(2)

In [6]:
7%2

1

#### 25mod(4)

In [7]:
25%4

1

### 3.- Dada la relacion de recurrencia Xn+1=(2Xn+6)mod8 con x0=3, calcule:

In [8]:
# PARAMETROS
a = 2; 
c = 6;
m=8;

#### x5

In [9]:
n=5
xn = 3; #x0
# Listas
resultados = []
#Iteraciones
for i in range(0,n,1):
    resultados.append(xn)
    xn = ((a * xn) + c) % m #Funcion
resultados[-1] #Ultima posicion

2

#### x7

In [10]:
n=7
xn = 3; #x0
# Listas
resultados = []
#Iteraciones
for i in range(0,n,1):
    resultados.append(xn)
    xn = ((a * xn) + c) % m #Funcion
resultados[-1] #Ultima posicion

2

#### Tabla de resultados:

In [11]:
#Generacion de una tabla simple
import pandas as pd
pd.DataFrame(resultados,columns=['Resultado'])

   Resultado
0          3
1          4
2          6
3          2
4          2
5          2
6          2

### 4.- Dada la relacion de recurrencia Xn+1=4Xn mod 100, con x0 = 17, calcule:

In [12]:
# PARAMETROS
a1 = 4; 
m1=100;

#### x5

In [13]:
n=5
xn = 17; #x0
# Listas
resultados = []
#Iteraciones
for i in range(0,n,1):
    resultados.append(xn)
    xn = (a * xn) % m #Funcion
resultados[-1] #Ultima posicion

0

#### x7

In [14]:
n=7
xn = 17; #x0
# Listas
resultados = []
#Iteraciones
for i in range(0,n,1):
    resultados.append(xn)
    xn = (a * xn) % m #Funcion
resultados[-1] #Ultima posicion

0

#### Tabla de resultados

In [15]:
#Generacion de una tabla simple
import pandas as pd
pd.DataFrame(resultados,columns=['Resultado'])

   Resultado
0         17
1          2
2          4
3          0
4          0
5          0
6          0

### 5.- Los numeros de Lucas L(n) estan definidos como: L(0)=2, L(1)=1 y para n>=2 L(n)=L(n-1)+L(n-2)

In [26]:
#Parametros iniciales
lucas=[2,1] #Las primeras posiciones estan definidas

#### L(n=7)

In [25]:
rango=7
for i in range(0,rango,1):
   ln=lucas[i]+lucas[i+1]
   lucas.append(ln)
lucas

[2, 1, 3, 4, 7, 11, 18, 29, 47]

#### L(n=9)

In [27]:
rango=9
for i in range(0,rango,1):
   ln=lucas[i]+lucas[i+1]
   lucas.append(ln)
lucas

[2, 1, 3, 4, 7, 11, 18, 29, 47, 76, 123]