# LISTAS

* Una lista a diferencia de las variables, se pueden guardar varios tipos de datos y objetos en un mismo espacios
* Util para crear dataframes y manipular datos
* Son similares a los arreglos donde se almacena un numero determinado de elementos

### Crear lista

In [3]:
# Structure: /nombre(String) /millones_users(int)/pertenece_fb(bool)/
ejemplo = ['Fisher',157,True]
yt = ['Youtube',20000,False]
lkn = ['LinkedIn',663,False]
wsp = ['WhatsApp',1600,True]

In [4]:
yt

['Youtube', 20000, False]

### Seleccionar elementos de listas

In [5]:
nombres_rrss=['Facebook','Twitter','Instagram','Youtube','LinkedIn','WhatsApp']

In [6]:
#Obtener el indice de una lista, siempre se empieza desde cero
nombres_rrss[0] #Facebook
#Seleccionar dos elementos
[nombres_rrss[1],nombres_rrss[3]] #Twitter, Youtube
#Seleccionar varios elementos seguidos con ':'
nombres_rrss[2:5] #Instagram, Youtube, LinkedIn (Selecciona todo lo que esta dentro de 2 al 5 sin tocar el 5)
#Seleccionar desde atras
nombres_rrss[-2] #El ultimo es -1, el penultimo -2 y asi sucesivamente

'LinkedIn'

### Agregar y eliminar elementos de una lista

In [7]:
#Agregar elemento de una lista
yt.append(2006) #Añadimos el año de creacion de YT

In [8]:
yt

['Youtube', 20000, False, 2006]

In [9]:
#Eliminar elementos de listas
lkn.append('error')
lkn

['LinkedIn', 663, False, 'error']

In [10]:
lkn.remove('error') #Se cita textualmente el elemento que quieres eliminar
lkn

['LinkedIn', 663, False]

### Crear un dataframe de una lista

In [11]:
#Creando listas con todas las listas
listas_rrss=[lkn,wsp,yt]

In [12]:
listas_rrss

[['LinkedIn', 663, False],
 ['WhatsApp', 1600, True],
 ['Youtube', 20000, False, 2006]]

In [13]:
#Dataframes
import pandas as pd

pd.DataFrame(listas_rrss,columns=['Nombre','Cantidad','PerteneceFB','AñoCreacion'])

     Nombre  Cantidad  PerteneceFB  AñoCreacion
0  LinkedIn       663        False          NaN
1  WhatsApp      1600         True          NaN
2   Youtube     20000        False       2006.0