# NUMEROS ALEATORIOS

In [18]:
# PARAMETROS
n =100
a = 81; 
c = 89;
m=100;
xn = 94; #x0

### CONGRUENCIAL MIXTO (LINEAL)

Funcion: (a*Xn+C)MOD(m)

In [19]:
# Listas
resultados = []
#Iteraciones
for i in range(0,n,1):
    resultados.append(xn)
    xn = ((a * xn) + c) % m #Funcion

In [20]:
#Generacion de una tabla simple
import pandas as pd
pd.DataFrame(resultados,columns=['Resultado'])

    Resultado
0          94
1           3
2          32
3          81
4          50
..        ...
95         49
96         58
97         87
98         36
99          5

[100 rows x 1 columns]

### CONGRUENCIAL MULTIPLICATIVO (LINEAL)

Funcion: (a*Xn)MOD(m)

#### Ejemplo 1

In [5]:
# Listas
ejemplo1 = []

#Iteraciones
for i in range(0,n,1):
    ejemplo1.append(xn)
    xn = (a * xn) % m #Funcion

In [14]:
#Generacion de una tabla simple
pd.DataFrame(ejemplo1,columns=['Resultado1'])

    Resultado1
0           51
1           53
2           59
3           77
4           31
5           93
6           79
7           37
8           11
9           33
10          99
11          97
12          91
13          73
14          19
15          57
16          71
17          13
18          39
19          17

#### Ejemplo 2

In [16]:
# Listas
ejemplo2 = []

#Iteraciones
for i in range(0,n,1):
    ejemplo2.append(xn)
    xn = (a * xn) % m #Funcion

In [17]:
pd.DataFrame(ejemplo2,columns=['Resultado2'])

   Resultado2
0          25
1          29
2          17
3          21
4           9
5          13
6           1
7           5
8          25